<!-- <input type="text" [(ngModel)]="name")> -->
<!-- <p>{{name}}</p> -->

<!-- <p>Hello</p> -->
<!-- <app-servers></app-servers> -->

<!-- <button class="btn btn-primary" (click)="showSecret=! showSecret">Display Details</button> -->
<!--
<button class="btn btn-primary" (click)="onToggleDetails()">Display Details</button>

<p *ngIf="showSecret">Secret Password = tuna</p>
<div *ngFor="let logItem of log; let i= index"
[ngStyle]="{backgroundColor: logItem >=5?'blue':'transparent'}"
[ngClass]="{'white-text': i >= 5}"> {{logItem}} </div> -->

<!-- //Project

<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes></app-recipes>
      <app-shopping-list></app-shopping-list>
    </div>
  </div>
</div>

//Project End -->

<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>My Servers</h2>
      <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>
      <br><br>
      <ul class="list-group">
<li class="list-group-item"
*ngFor="let server of servers; let i=index"
(click)="onRemoteServer(i)">{{server}}</li>
      </ul>
    </div>
  </div>
</div> -->

<div class="container">
  <app-cockpit (serverCreated)="onServerAdded($event)"
  (bluePrintCreated)="onBluePrintAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
   <app-server-element *ngFor="let serverElement of serverElements"
   [srvElement]="serverElement"></app-server-element>
    </div>
  </div>
</div>
